services:
  icecast:
    build:
      context: .
      dockerfile: Dockerfile.icecast
    restart: always
    ports:
      - "8000:8000"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8000/status.xsl" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - icecast
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost/" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
