# Docker Compose using relative paths for portable deployment
services:
  icecast:
    build:
      context: .
      dockerfile: Dockerfile.icecast
    container_name: icecast
    restart: always
    environment:
      - ICECAST_SOURCE_PASSWORD=mistream
      - ICECAST_ADMIN_PASSWORD=hackme
      - ICECAST_RELAY_PASSWORD=hackme
      - ICECAST_HOSTNAME=localhost
    ports:
      - "8000:8000"
    networks:
      - radio-net

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - icecast
    networks:
      - radio-net

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - radio-net

networks:
  radio-net:
    driver: bridge
