services:
  icecast:
    build:
      context: .
      dockerfile: Dockerfile.icecast
    restart: always
    ports:
      - "8000:8000"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:8000/status.xsl" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    restart: always
    volumes:

      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - icecast
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost/" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 6h & wait $${!}; certbot renew; done;'"
